@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@layer base {
  html {
    @apply font-sans;
  }
}
.scrolling::-webkit-scrollbar {
  height: 15px;
}
.scrolling::-webkit-scrollbar-thumb {
  background: slategrey;
  border-radius: 12px;
}
.scrolling::-webkit-scrollbar-track {
  background: rgb(21, 25, 29);
  border-radius: 12px;
}
.deletebut:hover > .trashicon {
  fill: azure;
}
